# Ignora pastas de build e temporárias
/dist
/tmp
/out-tsc
/bazel-out

# Ignora dependências e arquivos de log do npm/yarn
/node_modules
npm-debug.log
yarn-error.log

# Ignora arquivos e pastas de IDEs e editores
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Ignora configurações do VS Code, exceto arquivos de configuração compartilhados
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Ignora histórico do VS Code
.history/*

# Ignora caches e arquivos temporários de frameworks e ferramentas
/angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# Ignora arquivos de sistema
.DS_Store
Thumbs.db