/* Geral */
body {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #f5f5f5;
  padding: 10px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar .logo .people {
  color: #000000;
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: bolder;
}

.navbar .logo .operations {
  color: #a812ef;
  font-size: 1.8rem;
  font-weight: bolder;
}

/* Seção Principal */
.main-section {
  text-align: center;
  margin-bottom: 40px;
}

h1 {
  font-size: 2.5rem;
  color: #000000;
  margin-bottom: 0px;
}

p {
  font-size: 1rem;
  color: #000000;
}

/* Formulário */
.form-section {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Rodapé */
.footer {
  text-align: center;
  margin-top: 40px;
  color: #ffffff;
  background-color: #7412a1;
  padding: 20px;
}

.footer p {
  margin: 5px 0;
  color: #f5f5f5;
}
